---
- name: Deploy Application
  hosts: webservers
  become: true

  vars:
    app_dir: "/home/{{ ansible_user }}/app"

  tasks:
    - name: pull code from repository
      git:
        repo: "https://github.com/kavos113/quickctf.git"
        dest: "{{ app_dir }}"
        version: "main"
        force: yes

    - name: generate .env file
      template:
        src: templates/.env.j2
        dest: "{{ app_dir }}/.env"
        mode: "0600"

    - name: create nginx directory
      file:
        path: "{{ app_dir }}/nginx"
        state: directory
        mode: "0755"

    - name: generate nginx config file
      template:
        src: templates/nginx.conf.j2
        dest: "{{ app_dir }}/nginx/nginx.conf"
        mode: "0644"

    - name: generate frontend environment file
      template:
        src: templates/environments.ts.j2
        dest: "{{ app_dir }}/client/src/environments/environment.ts"
        mode: "0644"

    - name: allow CTF challenge ports
      ufw:
        rule: allow
        port: "{{ secret_min_open_port }}:{{ secret_max_open_port }}"
        proto: tcp

    - name: run docker compose
      shell: |
        docker compose down
        docker compose up -d --build > build.log 2>&1
        docker image prune -f
      args:
        chdir: "{{ app_dir }}"
